body, * {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
}

body {
	margin: 0;
}

header {
	background-color: grey;
    width: 100%;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 60px;
    height: 70px;
	position: fixed;
}

input {
	display: inline-block;
	height: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-indent: 20px;
}

nav {
	float: right;
}

main {
	padding-top: 120px;
	margin-left: 100px;
}

section {
	margin-top: 15px;
	margin-left: 40px;
}

.logo {
	float: left;
}

.search-bar {
	display: inline-block;
	width: 60%;
}

.search-button {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 5px, solid black;
	border-radius: 5px;
}

ul {
	list-style: none;
}

.pagination {
	border: 1px solid black;
	border-radius: 5px;
	border-spacing: 25px;
	display: inline-block;
}

.pagination span {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-spacing: 10px 50px;
}

.listings {
	margin-left: -80px;
	margin-top: 40px;
	line-height: 40px;
}